body {
    height: fit-content;
    margin: 0;
    color: black;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 75px;
    padding-right: 75px;
    color: #e5e7eb;
    padding-bottom: 30px;
}

.headercontainer1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.headerlogo {
    width: 20%;
    height: 20%;


}
ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 10px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.headercontainer2 {
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
}

.largeimage {
    align-self: center;
}

.headertext {
    font-size: 48px;
    font-weight: 700;
}

.headerbutton button{
    border: none;
    flex-shrink: 0;
    background-color: #3882F6;
    color: white;
    width: 85px;
    border-radius: 3px;
    padding: 3px; 
}

.sub {
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 50%;
    overflow-wrap: break-word;
}


.firstbody {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.midheader {
    align-self: center;
    font-size: 36px;
    font-weight: 700;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    gap: 100px;
}

.box {
     
    border: solid #3882F6 2px;
    padding: 75px;
    border-radius: 10px; 
    
}

.flex-wrap {

    display: flex;
    flex-direction: column;
    max-width: 100px;
    align-items: center;
    
}
.text-item {
    text-align: center;
    margin-top: 10px;

}

.secondbody {
    display: flex;
    font-weight: 700;
    background-color: #E5E7EB;
    justify-content: center;
    padding: 75px;
}


.flexme {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  font-style: italic;
  font-weight: 50;
  color: #1F2937;
}


.secondparagraph {
justify-content: center;
font-size: 36px;
margin-bottom: 10px;
}

.nameofperson {
    font-weight: 700;
    margin-left: 300px;
}


.footercontainer {
    display: flex;
    justify-content: center;
    max-height: 100px;
    align-items: center;
    background-color: #3882f6;
    margin: 50px;
    border-radius: 5px;
    width: 745px;
}

.thirdparagraph {

    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    padding: 75px;
}

.textbox {
    flex-direction: column;
    flex-basis: 65%;
    flex-wrap: wrap;
}

footer {

    display: flex;
    justify-content: center;
}

.footerparagraph {
    color: white;
    font-size: 14px;
    flex-basis: 40%;
    flex-grow: 1;
}

.footerbutton {
    align-self: flex-end;
    flex-shrink: 0;
    justify-content: flex-end;
}

.footerheader {
    color: white;
    font-weight: 700;
}

.footerbutton {
    background-color: #3882F6;
    border: solid white 1px;
    color: white;
    width: 85px;
    border-radius: 3px;
    padding: 3px;
}